<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gabble</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class='container'>
      <div class="errors">
        {{#errors}}
        <p>{{.}}</p>
        {{/errors}}
      </div>
      <div class="navigation">

          <ul class='navigation'>
            <li class='navbar'><a href='/index'>Gabble</a></li>
            <li class='navbar'><a href='/newgab'>Create a new gab</a></li>
            <li class='navbar'><a href='/profile'>Logged in as
              {{messages.usermessages.username}}</a></li>
            <li class='navbar'><a href='/logout'>Log out</a></li>
          </ul>

      </div><br><br>
      <div id='usermessages'>
        {{#messages}}
            <p class='pagebody' id='userMsgs'>{{usermessages.username}}&nbsp;&nbsp;{{message}}</p>
            <p class='pagebody'>{{createdAt}}</p>

            <form action="/user/likes" method="post">

              <button value='{{id}}' name='msgid' id='likeBtn'>Like</button>
              <input type='hidden' name='userid' value='{{userid}}'>
              <button value='{{likecount}}' name='likecount' id='countBtn'>{{likecount}}</button>
            </form>
            <form action="/msg/delete" method="post">
              <button value='{{id}}' name='delete' id='deleteBtn'>Delete</button>
            </form>

        {{/messages}}
      </div>
    </div>
  </body>
</html>
