<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message Likes<title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div>
      <ul class='navigation'>
        <li class='navbar'><a href='/index'>Gabble</a></li>
        <li class='navbar'><a href='/newgab'>Create a new gab</a><li>
        <li class='navbar'><a href='/profile'>Logged in as {{username}}</a></li>
        <li class='navbar'><a href='/logout'>Log out</a></li>
    </ul>
    </div><br><br>
    <h1>Logged in as : {{username}}</h1>
  </body>
</html>
